In [1]:
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns

%matplotlib inline

In [2]:
df1 = pd.read_excel('part1.xlsx', sheet_name='Data',parse_dates=['day'])

In [3]:
counts = ['css_requests','font_requests', 'js_requests', 'image_requests', 'other_requests']

In [4]:
sizes = ['css_size','font_size','js_size','image_size','other_size']

In [5]:
requests = df1[counts]

In [6]:
requests.head(3)

   css_requests  font_requests  js_requests  image_requests  other_requests
0            11              4          134              90              25
1             8              4           85              56              23
2            11              4          135              91              25

In [7]:
space = df1[sizes]

In [8]:
space.head(3)

   css_size  font_size  js_size  image_size  other_size
0     73526     104727  1446029       82902          69
1     63189     104727  1010679       35254        8032
2     73193     104727  1447338       83104          69

In [9]:
space_kb = space/1000

In [10]:
space_kb.head(3)

   css_size  font_size   js_size  image_size  other_size
0    73.526    104.727  1446.029      82.902       0.069
1    63.189    104.727  1010.679      35.254       8.032
2    73.193    104.727  1447.338      83.104       0.069

In [11]:
(requests.other_requests <= 150).sum()

756

In [12]:
(requests.image_requests <= 30).sum()

3

In [13]:
((requests.image_requests > 30) & (requests.image_requests <= 40)).sum()

238

In [14]:
(requests.image_requests > 40).sum()

515

In [15]:
(requests.js_requests <= 30).sum()

0

In [30]:
((requests.js_requests > 30) & (requests.js_requests <= 50)).sum()

0

In [33]:
requests.js_requests.value_counts()

85     111
93      93
92      54
95      50
135     46
90      39
137     38
86      32
91      32
88      27
141     26
139     24
136     21
140     20
144     18
143     16
94      16
142     16
146     13
147     13
96      10
87      10
138      9
145      8
148      5
134      3
149      3
89       2
97       1
Name: js_requests, dtype: int64

In [31]:
(requests.image_requests > 50).sum()

504

In [18]:
(requests.font_requests <= 6).sum()

756

In [19]:
(requests.css_requests <= 10).sum()

496

In [20]:
((requests.css_requests > 10) & (requests.css_requests <= 20)).sum()

260

In [21]:
(requests.css_requests > 20).sum()

0

In [22]:
space_kb.head(1)

   css_size  font_size   js_size  image_size  other_size
0    73.526    104.727  1446.029      82.902       0.069

In [23]:
((space_kb.css_size <= 150)).sum()

756

In [24]:
(space_kb.font_size <= 150).sum()

756

In [25]:
(space_kb.js_size <= 500).sum()

0

In [26]:
((space_kb.js_size > 500) & (space_kb.js_size <= 1000)).sum()

0

In [27]:
(space_kb.js_size > 1000).sum()

756

In [28]:
(space_kb.image_size <= 800).sum()

756

In [29]:
(space_kb.other_size <= 2500).sum()

756